<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citic.action.mapper.AttrModelRelMapper">
  <resultMap id="BaseResultMap" type="com.citic.action.pojo.AttrModelRel">
    <id column="ATTR_MODEL_REL_ID" jdbcType="INTEGER" property="attrModelRelId"/>
    <result column="MODEL_TYPE_NAME" jdbcType="VARCHAR" property="modelTypeName"/>
    <result column="ATTRIBUTE_NAME" jdbcType="VARCHAR" property="attributeName"/>
    <result column="IS_CANCLE" jdbcType="VARCHAR" property="isCancle"/>
    <result column="RELATION_CREATE_TIME" jdbcType="TIMESTAMP" property="relationCreateTime"/>
    <result column="RELATION_LAST_UPDATE_TIME" jdbcType="TIMESTAMP" property="relationLastUpdateTime"/>
  </resultMap>
  <sql id="Base_Column_List">
    ATTR_MODEL_REL_ID, MODEL_TYPE_NAME, ATTRIBUTE_NAME, IS_CANCLE, RELATION_CREATE_TIME,
    RELATION_LAST_UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ATTR_MODEL_REL
    where ATTR_MODEL_REL_ID = #{attrModelRelId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ATTR_MODEL_REL
    where ATTR_MODEL_REL_ID = #{attrModelRelId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="ATTR_MODEL_REL_ID" keyProperty="attrModelRelId"
          parameterType="com.citic.action.pojo.AttrModelRel" useGeneratedKeys="true">
    insert into ATTR_MODEL_REL (MODEL_TYPE_NAME, ATTRIBUTE_NAME, IS_CANCLE,
      RELATION_CREATE_TIME, RELATION_LAST_UPDATE_TIME
      )
    values (#{modelTypeName,jdbcType=VARCHAR}, #{attributeName,jdbcType=VARCHAR}, #{isCancle,jdbcType=VARCHAR}, 
      #{relationCreateTime,jdbcType=TIMESTAMP}, #{relationLastUpdateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ATTR_MODEL_REL_ID" keyProperty="attrModelRelId"
          parameterType="com.citic.action.pojo.AttrModelRel" useGeneratedKeys="true">
    insert into ATTR_MODEL_REL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="modelTypeName != null">
        MODEL_TYPE_NAME,
      </if>
      <if test="attributeName != null">
        ATTRIBUTE_NAME,
      </if>
      <if test="isCancle != null">
        IS_CANCLE,
      </if>
      <if test="relationCreateTime != null">
        RELATION_CREATE_TIME,
      </if>
      <if test="relationLastUpdateTime != null">
        RELATION_LAST_UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="modelTypeName != null">
        #{modelTypeName,jdbcType=VARCHAR},
      </if>
      <if test="attributeName != null">
        #{attributeName,jdbcType=VARCHAR},
      </if>
      <if test="isCancle != null">
        #{isCancle,jdbcType=VARCHAR},
      </if>
      <if test="relationCreateTime != null">
        #{relationCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="relationLastUpdateTime != null">
        #{relationLastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.citic.action.pojo.AttrModelRel">
    update ATTR_MODEL_REL
    <set>
      <if test="modelTypeName != null">
        MODEL_TYPE_NAME = #{modelTypeName,jdbcType=VARCHAR},
      </if>
      <if test="attributeName != null">
        ATTRIBUTE_NAME = #{attributeName,jdbcType=VARCHAR},
      </if>
      <if test="isCancle != null">
        IS_CANCLE = #{isCancle,jdbcType=VARCHAR},
      </if>
      <if test="relationCreateTime != null">
        RELATION_CREATE_TIME = #{relationCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="relationLastUpdateTime != null">
        RELATION_LAST_UPDATE_TIME = #{relationLastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ATTR_MODEL_REL_ID = #{attrModelRelId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.citic.action.pojo.AttrModelRel">
    update ATTR_MODEL_REL
    set MODEL_TYPE_NAME = #{modelTypeName,jdbcType=VARCHAR},
      ATTRIBUTE_NAME = #{attributeName,jdbcType=VARCHAR},
      IS_CANCLE = #{isCancle,jdbcType=VARCHAR},
      RELATION_CREATE_TIME = #{relationCreateTime,jdbcType=TIMESTAMP},
      RELATION_LAST_UPDATE_TIME = #{relationLastUpdateTime,jdbcType=TIMESTAMP}
    where ATTR_MODEL_REL_ID = #{attrModelRelId,jdbcType=VARCHAR}
  </update>
</mapper>