<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citic.action.mapper.UnifiedCheckModuleMapper">
  <resultMap id="BaseResultMap" type="com.citic.action.pojo.UnifiedCheckModule">
    <id column="CHECK_MODULE_ID" jdbcType="INTEGER" property="checkModuleId" />
    <result column="CHECK_MODULE_SIMPLE_NAME" jdbcType="VARCHAR" property="checkModuleSimpleName" />
    <result column="CHECK_MODULE_NAME" jdbcType="VARCHAR" property="checkModuleName" />
    <result column="CHECK_MODULE_PATH" jdbcType="VARCHAR" property="checkModulePath" />
    <result column="CHECK_MODULE_CREATE_TIME" jdbcType="TIMESTAMP" property="checkModuleCreateTime" />
    <result column="CHECK_MODULE_PARAM_PATH" jdbcType="VARCHAR" property="checkModuleParamPath" />
  </resultMap>
  <sql id="Base_Column_List">
    CHECK_MODULE_ID, CHECK_MODULE_SIMPLE_NAME, CHECK_MODULE_NAME, CHECK_MODULE_PATH, 
    CHECK_MODULE_CREATE_TIME, CHECK_MODULE_PARAM_PATH
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from UNIFIED_CHECK_MODULE
    where CHECK_MODULE_ID = #{checkModuleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from UNIFIED_CHECK_MODULE
    where CHECK_MODULE_ID = #{checkModuleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="CHECK_MODULE_ID" keyProperty="checkModuleId" parameterType="com.citic.action.pojo.UnifiedCheckModule" useGeneratedKeys="true">
    insert into UNIFIED_CHECK_MODULE (CHECK_MODULE_SIMPLE_NAME, CHECK_MODULE_NAME, 
      CHECK_MODULE_PATH, CHECK_MODULE_CREATE_TIME, 
      CHECK_MODULE_PARAM_PATH)
    values (#{checkModuleSimpleName,jdbcType=VARCHAR}, #{checkModuleName,jdbcType=VARCHAR}, 
      #{checkModulePath,jdbcType=VARCHAR}, #{checkModuleCreateTime,jdbcType=TIMESTAMP}, 
      #{checkModuleParamPath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="CHECK_MODULE_ID" keyProperty="checkModuleId" parameterType="com.citic.action.pojo.UnifiedCheckModule" useGeneratedKeys="true">
    insert into UNIFIED_CHECK_MODULE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="checkModuleSimpleName != null">
        CHECK_MODULE_SIMPLE_NAME,
      </if>
      <if test="checkModuleName != null">
        CHECK_MODULE_NAME,
      </if>
      <if test="checkModulePath != null">
        CHECK_MODULE_PATH,
      </if>
      <if test="checkModuleCreateTime != null">
        CHECK_MODULE_CREATE_TIME,
      </if>
      <if test="checkModuleParamPath != null">
        CHECK_MODULE_PARAM_PATH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="checkModuleSimpleName != null">
        #{checkModuleSimpleName,jdbcType=VARCHAR},
      </if>
      <if test="checkModuleName != null">
        #{checkModuleName,jdbcType=VARCHAR},
      </if>
      <if test="checkModulePath != null">
        #{checkModulePath,jdbcType=VARCHAR},
      </if>
      <if test="checkModuleCreateTime != null">
        #{checkModuleCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkModuleParamPath != null">
        #{checkModuleParamPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.citic.action.pojo.UnifiedCheckModule">
    update UNIFIED_CHECK_MODULE
    <set>
      <if test="checkModuleSimpleName != null">
        CHECK_MODULE_SIMPLE_NAME = #{checkModuleSimpleName,jdbcType=VARCHAR},
      </if>
      <if test="checkModuleName != null">
        CHECK_MODULE_NAME = #{checkModuleName,jdbcType=VARCHAR},
      </if>
      <if test="checkModulePath != null">
        CHECK_MODULE_PATH = #{checkModulePath,jdbcType=VARCHAR},
      </if>
      <if test="checkModuleCreateTime != null">
        CHECK_MODULE_CREATE_TIME = #{checkModuleCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkModuleParamPath != null">
        CHECK_MODULE_PARAM_PATH = #{checkModuleParamPath,jdbcType=VARCHAR},
      </if>
    </set>
    where CHECK_MODULE_ID = #{checkModuleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.citic.action.pojo.UnifiedCheckModule">
    update UNIFIED_CHECK_MODULE
    set CHECK_MODULE_SIMPLE_NAME = #{checkModuleSimpleName,jdbcType=VARCHAR},
      CHECK_MODULE_NAME = #{checkModuleName,jdbcType=VARCHAR},
      CHECK_MODULE_PATH = #{checkModulePath,jdbcType=VARCHAR},
      CHECK_MODULE_CREATE_TIME = #{checkModuleCreateTime,jdbcType=TIMESTAMP},
      CHECK_MODULE_PARAM_PATH = #{checkModuleParamPath,jdbcType=VARCHAR}
    where CHECK_MODULE_ID = #{checkModuleId,jdbcType=INTEGER}
  </update>
</mapper>